body {
    margin: 0px;
    padding: 0px;
}

.canvas {
    background-color: white;
    border: 1px solid black;
    display: block;
    margin-left: 150px;
    margin-top: 3px;
    position: absolute;
}
#tempcanvas {
    opacity: 0.2;
}

#tools-container {
    width: 140px;
    margin: 3px;
    float: left;
    background-color: lightgrey;
    text-align: center;
    font-size: 20px;
}


.color-button {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.custom-button {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.pencil-cursor {
    cursor: url('icons/Pencil-icon.png') 0 15, move;
}

.brush-cursor {
    cursor: url('icons/Brush-icon.png') 0 15, move;
}

.eraser-cursor {
    cursor: url('icons/Eraser-icon.png') 0 15, move;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}

#gray {
    background-color: gray;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple; 
}

#pink {
    background-color: pink;
}

#color-picker {
    margin-top: 3px;
    width: 60px;
}



#pencil {
    background: url('icons/Pencil-icon.png')
}

#paint {
    background: url('icons/Paint-icon.png')
}

#eraser {
    background: url('icons/Eraser-icon.png')
}

#brush {
    background: url('icons/Brush-icon.png')
}

#circle {
    background: url('icons/Circle-icon.png')
}

#triangle {
    background: url('icons/Triangle-icon.png');
    background-repeat: no-repeat;
}

#rectangle {
    background: url('icons/Rectangle-icon.png')
}

#square {
    background: url('icons/Square-icon.png')
}